div::-webkit-scrollbar{
    width: 10px;
    
}

div::-webkit-scrollbar-thumb{
    background: #63E7D1;
    border-radius: 10px;
}

body::-webkit-scrollbar{
    width: 12px;
    background: black;
}

body::-webkit-scrollbar-thumb{
    background: #63E7D1;
    border-radius: 10px;
    
}